.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(0, 0, 0, 0.1);
}

.site-layout-background {
  background: #fff;
}

.header {
  height: 64px;
  background: #fff;
}
.content {
  height: calc(100vh - 128px);
}
.footer {
  height: 64px;
}
.menuBar {
  justify-content: end;
  font-weight: 600;
  font-size: 16px;
  a {
    color: #feb800;
  }
}
