.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: auto;
}
.filterSection {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  .filter {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .Breadcrumb {
      @media (max-width: 900px) {
        display: none;
      }
    }
  }
}
.titleFilterByUni {
  h1 {
    text-transform: uppercase;
    font-size: 28px;
    margin: 10px 0;
    @media (max-width: 600px) {
      font-size: 18px;
    }
  }
  p {
    font-size: 16px;
  }
}
.slideSection {
  .carousel {
    position: relative;
    // @media (max-width: 900px) {
    //   display: none;
    // }
  }
  .carouselIconPrev {
    position: absolute;
    left: 0;
    top: 36%;
  }
  .carouselIconNext {
    position: absolute;
    right: 0;
    top: 36%;
  }
  .slideItem {
    // width: 20%;
    div {
      text-align: center;
      width: 250px;
      margin: 5px 15px;
      color: #222;
      display: inline-block;
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 3px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
      border: none;
      background-color: #f2f2f2;
      transition: 0.3s;
      p {
        padding: 0;
      }
      &:hover {
        color: #feb800;
      }
      @media (max-width: 1200px) {
        width: unset;
        height: 100px;
      }
      @media (max-width: 600px) {
        width: unset;
        height: 100px;
      }
    }
  }
}

.listItemSection {
  min-height: calc(100vh - 300px);
  .listItem {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    // gap: 2rem;
    justify-content: flex-start;
    .itemContainer {
      // cursor: pointer;
      color: #222;
      width: 23%;
      margin: 20px 10px;
      .item {
        margin: auto;
        min-height: 320px;
        font-size: 14px;
        .itemType {
          word-spacing: 0.085rem;
        }
        .itemImage {
          height: 160px;
          width: 100%;
          background-size: cover;
        }
        .itemName {
          font-weight: 700;
          font-size: 16px;
        }
        .itemPrice {
          font-size: 15px;
          font-weight: 600;
        }
      }
      &:hover {
        .itemName {
          animation-name: opacity-hover;
          animation-duration: 0.4s;
          color: #feb800;
        }
      }
      @media (max-width: 900px) {
        width: 45%;
        min-height: 200px;
        .itemImage {
          height: 100px;
          width: 100%;
        }
      }
      @media (max-width: 600px) {
        width: 40%;
        min-height: 200px;
        .itemImage {
          height: 100px;
          width: 100%;
        }
      }
    }

    @media (max-width: 900px) {
      justify-content: center;
    }
  }
}
.pagination {
  text-align: end;
  margin: 10px;
}

@keyframes opacity-hover {
  from {
    color: black;
  }
  to {
    color: #feb800;
  }
}
