.breadcrumb {
  margin-bottom: 20px;
  font-size: 20px;
}
.formData {
  margin: auto;
  max-width: 800px;
}
.submitBtn {
  margin: 10px 30px;
}

.popupMap {
  text-align: center;
  width: 500px;
}
.markerPopupContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  p {
    // font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 !important;
    margin-bottom: 8px !important;

    span {
      text-transform: capitalize;
    }
  }

  .btn {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
  }
}
