.banner1 {
  height: 600px;
  background: url("/images/banner.png");
  background-size: cover;
  position: relative;
  .bannerContent1 {
    position: absolute;
    top: 300px;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 200px;
    font-size: 20px;
    font-weight: bold;
    color: var(--base-color);
    background: rgba(255, 255, 255, 0.9);
    padding: 50px 10px;
  }
}
.banner2 {
  background: url("/images/banner2.png");
  background-size: cover;
  position: relative;
  height: 600px;
  .bannerContent2 {
    position: absolute;
    top: 300px;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 200px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: transparent;
    border: 15px solid var(--base-color);
    padding: 50px 10px;
  }
}

.section {
  margin: 50px auto;
  text-align: center;

  // width: 1200px;
  h2 {
    font-weight: 400;
    letter-spacing: 0;
    font-size: 30px;
  }
  .borderIcon {
    width: 20px;
    height: 20px;
    border: 3px solid var(--base-color);
    display: inline-block;
    position: relative;
    .titleIcon {
      width: 6px;
      height: 6px;
      background-color: var(--base-color);
      display: inline-block;
      position: absolute;
      left: 4px;
      top: 4px;
    }
    &::before {
      left: 50%;
      margin-left: -75px;
      width: 65px;
      height: 2px;
      position: absolute;
      top: 6px;
      background-color: var(--base-color);
      content: "";
    }
    &::after {
      right: 50%;
      margin-right: -75px;
      width: 65px;
      height: 2px;
      position: absolute;
      top: 6px;
      background-color: var(--base-color);
      content: "";
    }
  }

  .sectionItem {
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    .item {
      width: 30%;
      margin: 15px;
      .title {
        margin: 10px 0;
        font-size: 16px;
        font-weight: 700;
        color: black;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      p {
        font-size: 16px;
      }
      @media (max-width: 600px) {
        width: 90%;
      }
    }
  }

  // @media (max-width: 1200px) {
  //   width: 1200px;
  // }
  @media (max-width: 900px) {
    max-width: 850px;
  }
  @media (max-width: 600px) {
    max-width: 600px;
  }
}
